@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200&display=swap');

@import url('https://fonts.googleapis.com/css2? family= PT+Sans:ital,wght@1.700 & display=swap');

.logo{
   width: 280px;
   height: 80px;
}


.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
    box-shadow: 0px 4px 30px -10px rgba(0, 0, 0, 0.1);
    font-family: 'Inter', sans-serif;
}

.menuNavegacao ul{
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: end;
    
}
.menuNavegacao ul li a{
    text-decoration: none; 
    margin: 20px;
}
.vitrine{
    display: flex;
    align-items:flex-start;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0px auto;
}
.container2{
padding: 30px 30px;
}

.container2 ul{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 0;
}

.container2 ul li{
    width: 250px;
    height: 350px;
    justify-content: flex-start;
    border: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    justify-content: space-between;
}

.container2 ul li:hover{
  border: 1px solid black;
}

.container2 ul li div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: s;
}

.container2 ul li img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    border-radius: 3px;
}
.tag{
    font-size: 11px;
    background-color:#f1bb3a;
    color: black;
    padding: 2px;
    font-family: 'Inter', sans-serif;
}
.nomeDoProduto{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin: 0px;
}
.descricaoDoProduto{
    font-size: 14px;
    font-family: 'Inter', sans-serif;
    margin: 5px 0px;

}
.container2 ul li div p{
    font-size: 15px;
    font-family: 'Inter', sans-serif;
    margin: 5px 0px;
}
.container2 ul li button{
    font-size: 12px;
    color: #333333;
    margin: 10px 0px;
    border: 0px;
    font-family: 'Inter', sans-serif;
}
.container2 ul li button:hover{
    background-color:black;
    color:#ffffff;
    font-family: 'Inter', sans-serif;

}

aside{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
}
.pesquisa{
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
}
.pesquisa div{
    margin: 0px 0px;
}
.pesquisa input{
    margin: 10px 0px;
    width: 200px;
    height: 40px;
    background-color: #F5F5F5;
    border: 0px;
    text-align: center;
}
.button1{
    margin: 10px 5px;
    width: 113px;
    height: 40px;
    background-color: #f1bb3a;
    border: 0px;
    text-align: center;
    color: black;

}
.button1:hover{
    background-color: #333333;
    color: white;
}

.nomeCarrinho{
    background-color: #f1bb3a;
    color: black;
    font-size: 20px;
    text-align: center;
    margin: 0px;
    width: 100%;
    padding: 10px 2px;

}
.comprasNoCarrinho{
    width: 300px;
    height: 300px;
    overflow: auto;
    display: flex;
    flex-direction:column;
    align-items: center;
    margin: 0px;
    background-color: #F5F5F5;
    padding: 10px 10px;
}
.comprasNoCarrinho h6{
    font-size: 20px;
    text-align: center;
    margin: 10px;
    font-family: 'Inter', sans-serif;
}

.comprasNoCarrinho li{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 15px 0px;
}

.imagemNoCarrinho img{
    height: 50%;
    width: 100%;
    object-fit: cover;
    
}
.dadosDoProduto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    font-family: 'Inter', sans-serif;
}
.dadosDoProduto h1{
    text-align:start;
    font-size: 10px;
    font-family: 'Inter', sans-serif;
}

.comprasNoCarrinho h1{
    text-align: start;
    font-size: 13px;
    font-family: 'Inter', sans-serif;
}
.comprasNoCarrinho h2{
    text-align: start;
    font-size: 12px;
    font-family: 'Inter', sans-serif;
}
.button2{
    width: 130px;
    height: 20px;
    border: solid 1px transparent;
    border-radius: 3px;
    font-family: 'Inter', sans-serif;
}
.button2:hover{
    background-color: black;
    color: white;
    font-family: 'Inter', sans-serif;
}
.carrinhoDeCompras{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.totalDaCompra{
    background-color: #333333;
    color: white;
    border-radius: 5px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.totalDaCompra h6{
    text-align: start;
    margin: 0px;
    padding: 20px 10px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;

}
.totalDaCompra h7{
    text-align: start;
    margin: 0px;
    padding: 20px 10px;
    font-size: 15px;
    font-family: 'Inter', sans-serif;
}

.todos:hover{
    text-decoration:underline;
}
.aliancasDeCasamento:hover{
    text-decoration:underline;
}
.aliancasDeNamoro:hover{
    text-decoration:underline;
}
.aneis:hover{
    text-decoration:underline;
}